<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#9b4dca">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
  </body>
</html>
