name: Docker

on:
  push:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build and push docker image
        run: |
          echo "${{ secrets.GITHUB_PACKAGE_REGISTRY_TOKEN }}" | login docker.pkg.github.com --username johakr --password-stdin
          docker build -t docker.pkg.github.com/johakr/chemistli/chemistli:latest .
          docker push docker.pkg.github.com/johakr/chemistli/chemistli:latest
